{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<title>Apply for loans</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	{% include 'material/includes/material_css.html' %}
	{% include 'material/includes/material_js.html' %}

</head>

<body>
	<div id="wrapper">
		<nav class="navbar">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="{% url 'register' %}">Customer</a></li>
				<li><a href="{% url 'loan' %}">Loans</a></li>
				<li><a href="{% url 'loantype' %}">LoanTypes</a></li>
				<li><a href="{% url 'payment' %}">Payments</a></li>
				<li><a href="{% url 'employee' %}">Employees</a></li>
				<li><a href="{% url 'borrower' %}">Borrowers</a></li>
				<li><a href="{% url 'company' %}">Company</a></li>
			</ul>
			<ul class="navbar-right">
				<li><a href="/admin/">Login</a></li>
			</ul>
		</nav>
		<div class="container-fluid">
			<div class="col-md-12">
				<div class="row">
					<div class="panel">
						<div class="panel-header">
							<h3>{{title}} Page</h3>
						</div>
						<div class="panel-body">
							{% load material_form %}
							<form class="form" action="/submit-new-loan/" method="POST">
								<div class="card">
									<h5 class="card-header">Loan Details</h5>
									<div class="card-body">
										<div class="row">
											<div class="form-group col-md-2 col-sm-6 col-6">
												{{ form.loan_scheme.label }}
											</div>
											<div class="form-group col-md-4 col-sm-6 col-6">
												{{ form.loan_scheme }}
											</div>
											<div class="form-group col-md-2 col-sm-6 col-6">
												{{ form.customer.label }}
											</div>
											<div class="form-group col-md-4 col-sm-6 col-6">
												{{ form.customer }}
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-2 col-sm-6 col-6">
												{{ form.loan_start_date.label }}
											</div>
											<div class="form-group col-md-4 col-sm-6 col-6">
												{{ form.loan_start_date }}
											</div>
											<div class="form-group col-md-2 col-sm-6 col-6">
												{{ form.loan_end_date.label }}
											</div>
											<div class="form-group col-md-4 col-sm-6 col-6">
												{{ form.loan_end_date }}
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-2 col-sm-6 col-6">
												{{ form.loan_amount.label }}
											</div>
											<div class="form-group col-md-4 col-sm-6 col-6">
												{{ form.loan_amount }}
											</div>
										</div>
										<div class="row justify-content-end">
											<div class="col-md-10 col-sm-2 col-10">
											</div>
											<div class="col-md-2 col-sm-2 col-2">
												<button type="submit"
													class="btn btn-primary btn-sm btn-block">Submit</button>
											</div>
										</div>
										<br />
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>