{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<title>Borrowers</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
	<div id="wrapper">
		<nav class="navbar">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="{% url 'register' %}">Customer</a></li>
				<li><a href="{% url 'loan' %}">Loans</a></li>
				<li><a href="{% url 'loantype' %}">LoanTypes</a></li>
				<li><a href="{% url 'payment' %}">Payments</a></li>
				<li><a href="{% url 'employee' %}">Employees</a></li>
				<li><a href="{% url 'borrower' %}">Borrowers</a></li>
				<li><a href="{% url 'company' %}">Company</a></li>
			</ul>
			<ul class="navbar-right">
				<li><a href="/admin/">Login</a></li>
			</ul>
		</nav>
		<div class="container-fluid">
			<div class="col-md-12">
				<div class="row">
					<div class="panel">
						<div class="panel-header">
							<h3>{{title}} Page</h3>
						</div>
					</div>
					<div class="panel-body">
						{% for obj in customers %}

						<label><b>Customer Id:</b></label>{{ obj.customer_id }}<br>
						<label><b>Customer name:</b></label>{{ obj.customer_name }}<br>
						<label><b>Phone number:</b></label>{{ obj.phone_number }}<br>
						<label><b>Email id:</b></label>{{ obj.email_id }}<br>
						<label><b>DOB:</b></label>{{ obj.dob }}<br>
						<label><b>Yearly income:</b></label>{{ obj.yearly_income }}<br>
						<label><b>Occupation:</b></label>{{ obj.occupation }}<br>
						<label><b>Address:</b></label>{{ obj.address }}<br>
						<label><b>Aadhaar no:</b></label>{{ obj.aadhaar_no }}<br>
						<label><b>Pancard no:</b></label>{{ obj.pancard_no }}<br>
						<label><b>Passport:</b></label>{{ obj.passport }}<br>
						<label><b>Created on:</b></label>{{ obj.created_on }}<br>
						<label><b>Created by:</b></label>{{ obj.created_by }}<br>
						<label><b>Updated on:</b></label>{{ obj.updated_on }}<br>
						<label><b>Updated by:</b></label>{{ obj.updated_by }}<br><br><br>

						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>