<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>
<label><b>Loan Acc No: </b></label>{{ instance.loan_acc_no }}<br>
<label><b>Loan Scheme: </b></label>{{ instance.loan_scheme }}<br>
<label><b>Loan start date: </b></label>{{ instance.loan_start_date }}<br>
<label><b>Loan end date: </b></label>{{ instance.loan_end_date }}<br>
<label><b>Loan amount: </b></label>{{ instance.loan_amount }}<br>
<label><b>Loan status: </b></label>{{ instance.loan_status }}<br>
<label><b>Created on: </b></label>{{ instance.created_on }}<br>
<label><b>Created by: </b></label>{{ instance.created_by }}<br>
<label><b>Updated on: </b></label>{{ instance.updated_on }}<br>
<label><b>Updated by: </b></label>{{ instance.updated_by }}<br>

</body>
</html>