{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Employees</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
<div id="wrapper">
		<nav class="navbar">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="{% url 'register' %}">Customer</a></li>
				<li><a href="{% url 'loan' %}">Loans</a></li>
				<li><a href="{% url 'loantype' %}">LoanTypes</a></li>
				<li><a href="{% url 'payment' %}">Payments</a></li>
				<li><a href="{% url 'employee' %}">Employees</a></li>
				<li><a href="{% url 'borrower' %}">Borrowers</a></li>
				<li><a href="{% url 'company' %}">Company</a></li>
			</ul>
			<ul class="navbar-right">
				<li><a href="/admin/">Login</a></li>
			</ul>
		</nav>
		<div class="container-fluid">
	<div class="col-md-12">
		<div class="row">
			<div class="panel">
				<div class="panel-header">
					<h3>{{title}} Page</h3>
				</div>
				<div class="panel-body">
					{% for obj in employees %}

					<label><b>Emp Id:</b></label>{{ obj.emp_id }}<br>
					<label><b>Emp name:</b></label>{{ obj.emp_name }}<br>
					<label><b>Emp phone number:</b></label>{{ obj.emp_phone_num }}<br>
					<label><b>Email Id:</b></label>{{ obj.email_id }}<br>
					<label><b>Designation:</b></label>{{ obj.designation }}<br>
					<label><b>Is Active:</b></label>{{ obj.is_active }}<br>
					<label><b>Created on:</b></label>{{ obj.created_on }}<br>
					<label><b>Created by:</b></label>{{ obj.created_by }}<br>
					<label><b>Updated on:</b></label>{{ obj.updated_on }}<br>
					<label><b>Updated by:</b></label>{{ obj.updated_by }}<br><br><br>

					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>