{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>Payments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
    <div id="wrapper">
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
				<li><a href="{% url 'register' %}">Customer</a></li>
                <li><a href="{% url 'loan' %}">Loans</a></li>
                <li><a href="{% url 'loantype' %}">LoanTypes</a></li>
                <li><a href="{% url 'payment' %}">Payments</a></li>
                <li><a href="{% url 'employee' %}">Employees</a></li>
                <li><a href="{% url 'borrower' %}">Borrowers</a></li>
                <li><a href="{% url 'company' %}">Company</a></li>
            </ul>
            <ul class="navbar-right">
                <li><a href="/admin/">Login</a></li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="row">
                    <div class="panel">
                        <div class="panel-header">
                        </div>
                        <div class="panel-body">
                            <div class="d-flex justify-content-center align-items-center" id="main">
                                <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
                                <div class="inline-block align-middle">
                                    <h2 class="font-weight-normal lead" id="desc">The page you requested was not found.
                                    </h2>
                                </div>
                            </div>
                            <div>
                                <label><b>Message: </b></label><br>
                                {{ json_msg.msg }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>