{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<title>Payments</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
	<div id="wrapper">
		<nav class="navbar">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="{% url 'register' %}">Customer</a></li>
				<li><a href="{% url 'loan' %}">Loans</a></li>
				<li><a href="{% url 'loantype' %}">LoanTypes</a></li>
				<li><a href="{% url 'payment' %}">Payments</a></li>
				<li><a href="{% url 'employee' %}">Employees</a></li>
				<li><a href="{% url 'borrower' %}">Borrowers</a></li>
				<li><a href="{% url 'company' %}">Company</a></li>
			</ul>
			<ul class="navbar-right">
				<li><a href="/admin/">Login</a></li>
			</ul>
		</nav>
		<div class="container-fluid">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-10 col-sm-10 col-10">
					</div>
					<div class="col-md-2 col-sm-2 col-2">
						<a href="{% url 'make_payment' %}"><button class="btn btn-primary btn-sm btn-block">Make New
								Payment</button></a>
					</div>
				</div>
				<div class="row">
					<div class="panel">
						<div class="panel-header">
							<h3>{{title}} Page</h3>
						</div>
						<div class="panel-body">
							{% for obj in money %}
							<label><b>Payment Id:</b></label>{{ obj.payment_id }}<br>
							<label><b>Comment:</b></label>{{ obj.comment }}<br>
							<label><b>Amount:</b></label>{{ obj.amount }}<br>
							<label><b>Loan Acc No:</b></label>{{ obj.loan_acc_no }}<br>
							<label><b>payment_status:</b></label>{{ obj.payment_status }}<br>
							<label><b>Created on:</b></label>{{ obj.created_on }}<br>
							<label><b>Updated on:</b></label>{{ obj.updated_on }}<br><br><br>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>