{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<title> Home | Best Loan Manager</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
</head>

<body>
	<div id="wrapper">
		<nav class="navbar">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="{% url 'register' %}">Customer</a></li>
				<li><a href="{% url 'loan' %}">Loans</a></li>
				<li><a href="{% url 'loantype' %}">LoanTypes</a></li>
				<li><a href="{% url 'payment' %}">Payments</a></li>
				<li><a href="{% url 'employee' %}">Employees</a></li>
				<li><a href="{% url 'borrower' %}">Borrowers</a></li>
				<li><a href="{% url 'company' %}">Company</a></li>
			</ul>
			<ul class="navbar-right">
				<li><a href="/admin/">Login</a></li>
			</ul>
		</nav>
		<div class="container-fluid">
			<div class="col-md-12">
				<div class="row">
					<div class="panel">
						<div class="panel-header">
							<h3>{{title}} Page</h3>
						</div>
						<div class="panel-body">

							{% for obj in LoanMaster_list %}
							<label><b>Loan Acc No: </b></label>
							<a href="{% url 'details' id=obj.auto_display_id %}">
								{{ obj.loan_acc_no }}<br>
							</a>
							<label><b>Loan amount: </b></label>{{ obj.loan_amount }}<br>
							<label><b>Created on: </b></label>{{ obj.created_on }}<br>
							<label><b>Updated on: </b></label>{{ obj.updated_on }}<br>
							<label><b>Loan status: </b></label>{{ obj.loan_status }}<br>
							<a href="{% url 'approve' id=obj.auto_display_id %}"><button
									class="btn btn-primary btn-sm btn-block">Approve</button></a>
							<a href="{% url 'reject' id=obj.auto_display_id %}"><button
									class="btn btn-primary btn-sm btn-block">Reject</button></a><br><br><br>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>